
<%- include('layout/header') %>

      <div class="page-wrapper">
        <div class="container-xl">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Supplier
                </div>
                <h2 class="page-title">
                  Create Purchase Bill
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-deck row-cards">
              
             
          </div>
        </div>
      </div>

       
        <%- include('layout/footer') %>